@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.header {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.banner{
  position: relative;
}

.typing{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 84px;
  color: #fff;
  font-family: "Merriweather";
  width: 100%;
  text-align: center;
}

.content {
  padding-top: 20px;
  width: 780px;
  margin: auto;
}

.postItem {
  background: #fff;
  border-radius: 10px;
  margin: 0 auto 20px auto;
  padding: 30px 35px;
  border: 1px solid #d3dce0;
}

.authorInfo {
  display: flex;
}

.avatar {
  width:80px;
  height: 80px;
  border-radius: 100%;
}
.postList {
  margin: 64px 0;
}

.imageCard {
  height:250px;
}

.customCard{
  height: 100%;
  transition: all 0.5s ease-in;
  box-shadow: -10px 25px 50px rgb(0 0 0 / 30%);
}

.customCard:hover {
  transition:700ms linear;
  transform: scale(1.1);
}
